@use '../abstract/colors' as *;

.card {

    max-width: 70rem;
    background: $dark-desaturated-blue;
    margin: 1em;
    border-radius: .7em;

    .wrapper {
        width: 85%;
        margin: auto;
        padding-bottom: 1em;
    }

    .card__img {
        img {
            min-height: 100%;
            border-top-right-radius: .7em;
            border-top-left-radius: .7em;
        }
    }
}