@use '../abstract/colors' as *;

.card {
    max-width: 55rem;
    background: $dark-desaturated-blue;
    margin: 3em 1.5em;
    border-radius: .5em;

    .wrapper {
        width: min(85%, 70%);
        margin: auto;
        padding-bottom: 1em;
    }

    .card__img {
        background-color: $dark-violet;
        border-top-right-radius: .5em;
        border-top-left-radius: .5em;

        img {
            min-height: 100%;
            opacity: .4;
            border-top-right-radius: .5em;
            border-top-left-radius: .5em;
        }
    }
}