@use '../abstract/colors' as *;

.card {
    max-width: 55rem;
    background: $dark-desaturated-blue;
    margin: 3em 1.5em;
    border-radius: .5em;

    .wrapper {
        width: min(85%, 70%);
        margin: auto;
    }

    .card__img {
        background-color: $soft-violet;
        border-top-right-radius: .5em;
        border-top-left-radius: .5em;

        img {
            min-height: 100%;
            opacity: .8;
            mix-blend-mode: multiply;
            border-top-right-radius: .5em;
            border-top-left-radius: .5em;
        }
    }

    .card__stats {
        display: grid;
        gap: 1rem;
        margin-bottom: 1.1rem;
    }
}