$white: hsl(0, 0%, 100%);
$light-trans-white: hsla(0, 0%, 100%, .75);
$medium-trans-white: hsla(0, 0%, 100%, .6);
$dark-blue: hsl(233, 47%, 7%);
$dark-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);