@use '../abstract/colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

h2,
h3,
span {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: $white;
}

p {
    font-family: 'Lexend Deca', sans-serif;
}


.card__content {
    h2 {
        padding-top: 2rem;
        font-size: clamp(1.4rem, 5vw, 2rem);
    }

    span {
        font-size: clamp(1.4rem, 5vw, 2rem);

        color: $soft-violet;
    }

    p {
        font-size: clamp(1rem, 5vw, 1.1rem);
        padding: 1em 0 2em 0;
    }
}

.card__stats {
    .card__stats__info {
        padding-bottom: 1em;

        h3 {
            font-size: clamp(1.1rem, 5vw, 1.4rem);
        }

        p {
            text-transform: uppercase;
            font-size: clamp(.7rem, 5vw, .9rem);
        }
    }
}